/* Mobile View Fixes */
@media screen and (max-width: 1024px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 32px;
        right: 20px;
        width: 220px;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .slide-content {
        position: absolute;
        font-size: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        width: 80%;
    }

    .subtext {
        margin-bottom: 50px;
    }

    .slider-container,
    .swiper {
        width: 97%;
        height: 550px;
    }

    .toggle-btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 12px 20px;
        font-size: 16px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .custom-prev,
    .custom-next {
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        font-size: 15px;
        font-weight: bold;
    }

    .custom-next {
        right: 0;
    }

    .custom-prev {
        left: 0;
    }
}