/* World of Zeylia Section */
.game-world {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  border-radius: 30px;
}


.game-world-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.game-world-card {
  background: url('images/card-bg-2.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: overlay;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.game-world-card img {
  width: 150px;
  height: 150px;
  animation: heartbeat 1.5s infinite ease-in-out;

}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.game-world-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-world-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.game-world-card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;


}

.game-world-card-description {
  background: linear-gradient(45deg, darkred, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .game-world {
    width: 93%;
    /* 93% width for mobile */
  }

  .game-world-card img {
    width: 100px;
    height: 100px;
    animation: heartbeat 1.5s infinite ease-in-out;

  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.4);
    }
  }

  .game-world-grid {
    grid-template-columns: repeat(2, 1fr);
    /* Single column for mobile */
    grid-template-rows: repeat(2, 1fr);
    /* Auto rows for mobile */
  }

  .game-world-title {
    font-size: 2rem;
    /* Smaller font size for mobile */
  }

  .game-world-card-title {
    font-size: 1.25rem;
    /* Smaller font size for mobile */
  }

  .game-world-card-description {
    font-size: 0.9rem;
    /* Smaller font size for mobile */
  }
}